body{
  background-color: rgb(255, 248, 238);
}
.boba-bar{
  text-align: center;
}
.bb-text{
  margin-top: 80px;
  margin-left: 20%;
  margin-right: 20%;
}
.bb-title{
  font-weight: 600;
  text-align: center;
  color: #d7843b;
}
.bb-paragraph{
  text-align: center;
  line-height: 26px;
  color: #4e4540;
}

.view-bb-pdf-button{
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
  margin-right: 12px;
  border-color: #d7843b;
  color: #d7843b;
  background-color: white;
}
.view-bb-pdf-button:hover{
  background-color: rgb(255, 248, 238);
  color: #d7843b;
}

.portfolio-container{
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-img{
  width: 100%;
}

.demo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.demo-title{
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.embed-container-1{
  height: 90vh; 
  display: flex;
}
.embed-container-2{
  height: 105vh;
  display: flex;
}
.figma-embed{
  margin-bottom: 16px;
  margin-top: 16px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.scroll-to-top-text{
  color: #d7843b;
}

@media (max-width:800px){
  .bb-text{
    margin-left: 8%;
    margin-right: 8%;
  }
  .portfolio-container{
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (max-width:650px){
  .bb-text{
    margin-left: 0%;
    margin-right: 0%;
  }
}