.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
}
.text{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.back-to-home-btn{
  width: 200px;
  margin-top: 40px;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
}