.header{
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 4px rgb(0,0,0,0.1);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.left-section{
  flex: 1;
  max-width: 210px;
}
.right-section{
  flex: 1;
  max-width: 350px;
  display: flex;
  align-items: center;
}

.header-logo{
  height: 46px;
  float: right;
  cursor: pointer;
}

.right-section button{
  border: 0;
  padding: 0;
  background-color: white;
  justify-content: center;
}
.header-works-button{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
  color: #434343;
  cursor: pointer;
}
.header-works-button:hover{
  color: rgba(67,67,67,0.8)
}

.dropdown {
  float: left;
  overflow: hidden;
}
/* Style the dropdown button to fit inside the header */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 0px;
  margin: 0;
}
.header a:hover, .dropdown:hover .dropbtn {
  color: rgba(67,67,67,0.8);
}
/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.2);
  z-index: 1;
}
/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #434343;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 500 pixels wide, hide buttons for socials in header */
@media screen and (max-width: 500px) {
  .socials-button {
    display: none;
  }
  .right-section{
    justify-content: flex-end;
  }
  .header-resume-button{
    margin-right: 50px;
  }
}

.header-resume-button{
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
  margin-right: 15px;
  color: #434343;
  cursor: pointer;
}
.header-resume-button:hover{
  color: rgba(67,67,67,0.8)
}

.linkedin-logo{
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
  margin-top: 2px;
}
.linkedin-logo:hover{
  opacity: 0.8;
}
.youtube-logo{
  height: 30px;
  margin-left: 12px;
  cursor: pointer;
  margin-top: 2px;
}
.youtube-logo:hover{
  opacity: 0.8;
}
.instagram-logo{
  height: 30px;
  margin-left: 12px;
  margin-right: 38%;
  cursor: pointer;
  margin-top: 2px;
}
.instagram-logo:hover{
  opacity: 0.8;
}

.email{
  height: 60px;
  width: 60px;
  box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
.email-logo{
  margin-top: 4px;
  height: 35px;
  cursor: pointer;
}
.email-logo:hover{
  opacity: 0.8;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}
li{
  display: inline;
}
.footer-socials-lines{
  display: none;
  text-align: center;
  list-style: inside;
  background: #434343;
  position: relative;
  width: 10vw;
  height: 1px;
  bottom: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.linkedin-logo-ft{
  display: none;
}
.youtube-logo-ft{
  display: none;
}
.instagram-logo-ft{
  display: none;
}

@media only screen and (max-width:500px){
  .footer-socials-lines{
    display: inline-block;
  }
  .linkedin-logo-ft{
    display: inline-block;
    height: 30px;
    cursor: pointer;
    margin-top: 2px;
  }
  .linkedin-logo-ft:hover{
    opacity: 0.8;
  }
  .youtube-logo-ft{
    display: inline-block;
    height: 30px;
    margin-left: 12px;
    cursor: pointer;
    margin-top: 2px;
  }
  .youtube-logo-ft:hover{
    opacity: 0.8;
  }
  .instagram-logo-ft{
    display: inline-block;
    height: 30px;
    margin-left: 12px;
    cursor: pointer;
    margin-top: 2px;
  }
  .instagram-logo-ft:hover{
    opacity: 0.8;
  }
}

.copyright{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #434343;
  text-align: center;
  margin-top: 40px;
}

@media (max-width:550px){
  .left-section{
    flex: 1;
    max-width: 190px;
  }
  .header-works-button{
    margin-left: 12px;
    margin-right: 8px;
  }
  .header-resume-button{
    margin-left: 8px;
    margin-right: 20px;
  }
}
